<h2 {% if site.style == 'dark' %}class="text-white" {% endif %}>Education</h2>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}"> </p>
<div class="d-flex flex-wrap gutter-condensed mb-4 text-list" style="border-bottom : grey 2px solid">
  {% for education in site.education %}
  <div class="card">
    <!-- <div class="icon">
      <img src="{{ education.image_url }}" alt="{{ education.institution }}">
    </div> -->
    <div class="info">
      <p class="text-normal"> {{ education.program}}</p>
      <p class="text-bold"> {{ education.institution}}</p>
      <p class="text-normal"> {{ education.dates}}</p>
      </p>
    </div>
  </div>
  {% endfor %}
  </ul>
</div>