<h2 {% if site.style == 'dark' %}class="text-white" {% endif %}>Education</h2>
<div class="d-flex flex-wrap gutter-condensed mb-4 text-list">
  {% for education in site.education %}
  <img src="{{ education.image_url }}" width="64" height="64" class="mx-auto rounded-1 mb-3"
    alt="{{ education.institution }}">
  <ul>
    <p style="margin-left : 25px"> {{ education.program}}</p>
    <p style="margin-left : 25px"> {{ education.institution}}</p>
    <p style="margin-left : 25px"> {{ education.dates}}</p>
    </p>
    <br>
    {% endfor %}
  </ul>
</div>