<h2 {% if site.style == 'dark' %}class="text-white" {% endif %}>Experience</h2>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}"> </p>
<div class="d-flex flex-wrap gutter-condensed mb-4 text-list">
  {% for experience in site.experience %}
  <ul>
    <!-- <div class="icon">
      <img src="{{ education.image_url }}" alt="{{ education.institution }}">
    </div> -->
    <p style="margin : 0 0 0 0">
    <div class="info">
      <p class="text-normal"> {{ experience.title}}</p>
      <p class="text-bold"> {{ experience.company}}</p>
      <p class="text-normal"> {{ experience.dates}}</p>
      </p>
    </div>
    </p>
    <br>
    {% endfor %}
  </ul>
  </ul>
</div>